/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.log
.DS_Store
Thumbs.db
